@charset "utf-8";
/* CSS Document */
html,body{
	width:100%;
}
/*header*/
header{
	width:100%;
	height:165px;
	margin:0 auto;
	display:flex;
	padding-left:0;
	position:fixed;
	top:0;
	z-index:2;
}
#box{
	position:absolute;
	left:175px;
	top:5px;

}
.header_rogo{
	height:80px;
	width:350px;
}
.header_rogo img{
	position:relative;
	top:70px;
	left:30px;
    opacity:1;
	transition: .3s ease-in-out;
}
.header_rogo img:hover{
	opacity:.5;
}
header nav{
    font-family: 'Josefin Sans', sans-serif;
	text-align:center;
	width:550px;
	height:40px;
	margin:80px 0 0 200px;
    padding-left: 200px;
}

.gnavi{
    display: flex;
    flex-wrap: wrap;
    margin:30px 0 0 0;
    list-style: none;
}

.gnavi li a{
    display: block;
    padding:10px 30px;
    text-decoration: none;
    color: #333;
}

.gnavi li{
	font-family:"Josefin Sans","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:16px;
	margin-bottom:10px;
	}
	
.sns_icon{
  margin-top:60px;
  display: flex;
  flex-direction: column;
  gap:30px;
  padding-right: 50px;
  padding-left: 50px;
  text-align:right;
}

.sns_icon img{
	opacity:1;
	transition: .3s ease-in-out;
}

.sns_icon a:hover img{
	opacity:.5;
}

.gnavi li a{
	position: relative;
}

.gnavi li.current a,
.gnavi li a:hover{
	color:#19749E;
}

.gnavi li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background:#0481A2;
    transition: all .6s;
    transform: scale(0, 1);
    transform-origin: center top;
}

.gnavi li.current a::after,
.gnavi li a:hover::after {
    transform: scale(1, 1);
}


/*menu*/
.menu{
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    z-index: 99;
	position:fixed;
}
.menu__line{
    background: #19749E;
    display: block;
    height: 2px;
    position: absolute;
    transition:transform .3s;
    width: 100%;
}
.menu__line--center{
    top: 9px;
}
.menu__line--bottom{
    bottom: 0;
}
.menu__line--top.active{
    top: 8px;
    transform: rotate(45deg);
}
.menu__line--center.active{
    transform:scaleX(0);
}
.menu__line--bottom.active{
    bottom: 10px;
    transform: rotate(135deg);
}

/*gnav*/
.gnav{
    background: rgba(0,0,0,0.8);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 98;
}
.gnav__wrap{
    align-items:center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}
.gnav__menu__item{
    font-family: 'Josefin Sans', sans-serif;
    margin: 40px 0;
}
.gnav__menu__item a{
    color: #fff;
    font-size: 2em;
    padding: 40px;
    text-decoration: none;
    transition: .5s;
}
.gnav__menu__item a:hover{
    color: #19749E;
}
.hero{
    background:url(img/hero.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
	padding-top:200px;
}
.sns_icon_gnav{
	display:flex;
	gap:20px;
}
.sns_icon_gnav img{
	opacity:1;
	transition: .3s ease-in-out;
}
.sns_icon_gnav img:hover{
	opacity:.5;
}



#wrapper{
	position: relative;
    min-height: 100%;
	margin:0 auto;
}

.blur{
	animation-name:blurAnime;
	animation-duration:2s;
	animation-fill-mode:forwards;
}

@keyframes blurAnime{
  from {
	filter: blur(10px);
	transform: scale(1.02);
  }

  to {
	filter: blur(0);
	transform: scale(1);
  }
}



/*main*/
main{
	position:relative;
	margin:0 auto;
	padding-top:75px;
}
section{
	height:600px;
	max-width: 100%;
    margin: 0 auto;
	padding: 0 40px;
}
#contents{
    height: 2000px;
	padding-bottom: 40px;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
	font-size:28px;
	padding-bottom:60px;
}
p{
	font-size:13px;
	line-height: 1.8;
    font-family: 'Noto Sans JP', sans-serif;
}
.concept_body {
  flex: 1;
  padding:30px 0 0 200px;
  margin-right:100px;
}
.concept_section{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
  position:relative;
}
.concept_text{
	padding-bottom:100px;
	width:300px;
}
.view_more{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
	text-align:end;
    background: 
        linear-gradient(#777 0 0) 
        0 100% /var(--d, 0) 2px 
      no-repeat;
    transition:0.5s;
}
.view_more a{
	color:#333;
	text-decoration:none;
}

.view_more:hover {
    --d: 100%;
  }


.menu_section{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-top: 100px;
}
.menu_body {
  flex: 1;
  padding:30px 0 0 300px;
  margin-right:200px;
}
.menu_text{
	padding-bottom:100px;
    width:300px;
}

#box1{
	position:absolute;
	top:100px;
	right:400px;
}
#box2{
	position:absolute;
	top:-200px;
	right:30px;
}
#box3{
	padding-left:80px;
}


.access_section{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 100px;
  padding-top: 100px;
}

.access_body {
  flex: 1;
  padding:30px 0 0 200px;
  margin-right:230px;
}
.map{
	padding-right:100px;
}

/* fotter */
.footer {
	position:absolute;
	width:100%;
    padding: 40px;
	background-color:#19749E;
	bottom:0;
}
#box4{
	position:absolute;
	left:175px;
	top:2px;
}
.footer_rogo img{
	margin-bottom:20px;
}
.copyright{
    font-family: 'Josefin Sans', sans-serif;
	color:#FFFFFF
}







/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 600px) {


header nav{
	display:none;
}	
.sns_icon{
	display:none;
}


#wrapper{
	width:100%;
	margin:0 auto;
}
img{
	width:100%;
	height:auto;
}


/*header*/
header{
	width:100%;
	height:100px;
	margin:0 auto;
	display:flex;
	padding-left:0;
	top:0;
	z-index:2;
}
#box{
	position:absolute;
	margin:0 auto;
	top:5%;
	left:43%;
	width:100%;
}
#box img{
	width:15%;
	height:auto;
}
.header_rogo{
	width:100%;
}
.header_rogo img{
	position:relative;
	top:60%;
	left:20%;
	width:60%;
	height:auto;
}



/*menu*/
.menu{
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    z-index: 99;
	position:fixed;
}
.menu__line{
    background: #19749E;
    display: block;
    height: 2px;
    position: absolute;
    transition:transform .3s;
    width: 100%;
}
.menu__line--center{
    top: 9px;
}
.menu__line--bottom{
    bottom: 0;
}
.menu__line--top.active{
    top: 8px;
    transform: rotate(45deg);
}
.menu__line--center.active{
    transform:scaleX(0);
}
.menu__line--bottom.active{
    bottom: 10px;
    transform: rotate(135deg);
}

/*gnav*/
.gnav{
    background: rgba(0,0,0,0.8);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 98;
}
.gnav__wrap{
    align-items:center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}
.gnav__menu__item{
    font-family: 'Josefin Sans', sans-serif;
    margin: 40px 0;
}
.gnav__menu__item a{
    color: #fff;
    font-size: 1.5em;
    padding: 40px;
    text-decoration: none;
    transition: .5s;
}
.gnav__menu__item a:hover{
    color: #19749E;
}
.hero{
    background:url(img/hero.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
	top:0;
	width:100%;
}
.hero img{
	padding-top:60px;
}
.sns_icon_gnav{
	display:flex;
	gap:20px;
}
.sns_icon_gnav img{
	opacity:1;
	transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
}
.sns_icon_gnav img:hover{/*hoverした時の変化*/
	opacity:.5;/*透過具合を変更したい場合はこの数値を変更*/
}



#wrapper{
	position: relative;
    min-height: 100%;
	margin:0 auto;
}

/* ぼかしから出現 */
.blur{
	animation-name:blurAnime;
	animation-duration:2s;
	animation-fill-mode:forwards;
}

@keyframes blurAnime{
  from {
	filter: blur(10px);
	transform: scale(1.02);
  }

  to {
	filter: blur(0);
	transform: scale(1);
  }
}



/*main*/
main{
	position:relative;
	margin:0 auto;
	padding-top:60px;
}
section{
	height:auto;
	max-width: 100%;
    margin: 0 auto;
	padding: 0 40px;
}
#contents{
    height: 2400px;
	padding-bottom: 40px;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
	font-size:28px;
	padding-bottom:60px;
}
p{
	font-size:13px;
	line-height: 1.8;
    font-family: 'Noto Sans JP', sans-serif;
}
.concept_body {
  padding:0 0 500px 0;
  margin:0 30px 0 30px;
  height:auto;
}
.concept_section{
  display:block;
  margin-bottom: 0;
}
.concept_text{
	margin-bottom:5px;
	width:auto;
}
.view_more{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
	text-align:end;
    background: 
        linear-gradient(#777 0 0) 
        0 100% /var(--d, 0) 2px 
      no-repeat;
    transition:0.5s;
}
.view_more a{
	color:#333;
	text-decoration:none;
}

.view_more:hover {
    --d: 100%;
  }


.menu_section{
  display: block;
  margin-bottom: 0;
  padding-top: 50px;
  padding-left: 50px;
}
.menu_body {
  padding:100px 0 100px 0;
  margin:0 30px 0 30px;
  height:200px;
}
.menu_text{
	margin-bottom:5px;
    width:auto;
}
#box1{
	position:absolute;
	top:680px;
	left:70px;
	width:100%;
}
#box1 img{
	width: 75%;
	height:auto;
}
#box2{
	position:absolute;
	top:300px;
	right:10px;
	width:100%;
	z-index: -1;
}
#box2 img{
	width: 50%;
	height:auto
}
#box3{
	padding-left:10px;
}

.access_section{
  display: block;
  justify-content: space-between;
  padding:100px 0 100px 0;
}

.access_body{
  padding:30px 0 30px 30px;
  margin-right:10px;	
}
.map {
height: 0;
overflow: hidden;
padding-bottom: 56.25%;
position: relative;
}
.map iframe {
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
}

/* fotter */
.footer {
	position:absolute;
	width:100%;
    padding: 30px 0 30px 0;
	background-color:#19749E;
	bottom:0;
}
#box4{
	position:absolute;
	left:5%;
	top:10%;
	width:100%;
}
#box4 img{
	width:10%;
	height:auto;
}
.footer_rogo{
	position:absolute;
	width:30%;
	height:auto;
	left:20%;
	top:20%;
}
.copyright{
    font-family: 'Josefin Sans', sans-serif;
	color:#FFFFFF;
	font-size:10px;
	text-align:end;
	
}


}