@charset "utf-8";
/* CSS Document */
img{max-width:100%}
html,body{
	width:100%;
	height:100%;
	background-color:#F8F8F8;
}

@media screen and (max-width:480px),print{
			
	
#wrapper{
	width:100%;
	margin:0 auto;
}
img{
	width:100%;
	height:auto;
}
/*---header---*/
header{
	width:100%;
	height:15%;
	margin:0 auto;
	display:flex;
	padding-left:0;
	position:fixed;
	background-color:#F8F8F8;
	top:0;
	z-index:2;

}
.header_rogo{
	height:auto;
	width:100%;
	background-color:#325A3C;
}
.header_rogo img{
	position:relative;
	text-align:center;
	width:80%;
	height:auto;
	margin:0 auto;
	top:20px;
	left:10%;
}
header nav{
	text-align:center;
	width:1200px;
	height:auto;
	margin-top:40px;
}
header nav ul{
	display:table;
	margin:0 auto;
	padding:0;
	width:100%;
}
header nav li{
	font-family:"游明朝","ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size:70%;
	list-style:none;
	display:table-cell;
	width:200px;
	align-items:center;
	}

header nav a{
	display:block;
	width:100%;
	height:auto;
	text-decoration:none;
	color:#325A3C;
	align-items:center;
}

header nav a:hover{
	color:#978F10;
	transition-duration:0.5s;
}

/*---headerここまで---*/



.top_img{
	width:100%;
	margin-top:70px;
}


h1{	
	font-family:"游明朝","ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size:90%;
	color:#F8F8F8;
	margin-bottom:10px;
	margin-left:30px;
	line-height:2rem;
	height:60%;
	width:100%;
}
.category{
	height:60%;
	width:100%;
	margin:0 auto;
	background-color:#325A3C;
	position:relative;
	top:70px;

}

.btn,
a.btn,
button.btn {
  font-family:"小塚ゴシック Pr6N","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 90%;
  line-height: 3;
  position: relative;
  display: inline-block;
  padding: 1rem 3rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
h2{
	text-align:center;
}
.btn--green,
a.btn--green {
  font-family:"小塚ゴシック Pr6N","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  color: #f8f8f8;
  background-color: #325A3C;
  margin:40px auto;
}
.btn--green:hover,
a.btn--green:hover {
  color: #f8f8f8;
  background: #597C61;
}



.room_box{
	margin:0 auto;
	width:100%;
	height:auto;
	display:block;
	flex-wrap:wrap;
	align-items:center;
	text-align:center;
}
.img_wrap{
  border: 1px solid #ddd;
  width: 450px;
  height: 350px;
  overflow: hidden;
  cursor: pointer;
}
.img_wrap img{
  width: 100%;
  transition-duration: 0.5s;
}
.img_wrap:hover img{
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.room_item{
	align-items:center;
	justyfy-content:space-between;
}
.room_button{
	margin:25px 20px 115px 20px;
}
.room_item p{
	font-size:24px;
	font-family:"游明朝","ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	margin:30px 0 25px 0;
}
.room_item img{
	width:100%;
	height:auto;
	position: relative;
	text-align: center;
	margin:0 auto;
}
.room_name {
  position: relative;
  display: inline-block;
  background-color: #F8F8F8;
  width:350px;
  height:85px;
  border: 1px solid #978F10;
  color: #978F10;
  text-align: center;
  text-decoration: none;
  margin:0 auto;
}
.room_name::after {
  position: absolute;
  top: 50%;
  right: 2em;
  content: '';
  margin-top: -9px;
  border-top: solid 1px #978F10;
  border-right: solid 1px #978F10;
  width: 13px;
  height: 13px;
  transform: rotate(45deg);
}
.room_name:hover::after {
  right: 0.5rem;
  transition-duration: 0.3s;
  border-top: solid 1px #f8f8f8;
  border-right: solid 1px #f8f8f8;
  width: 13px;
  height: 13px;
  transform: rotate(45deg);
}
.room_name:hover{
  color: #f8f8f8;
  background: #978F10;
  transition-duration: 0.2s;
}

/*---footer---*/
footer{
		background-color:#325A3C;
		text-align:center;
		color:#f8f8f8;
		padding:30px 0 20px 0;
		font-size:80%;
		font-family:"游明朝","ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}

#fot{
	    width:1200px;
		margin:0 auto;
		padding:0;
		width:100%;

}
#fot p{
	margin-top:15px;
	line-height:1.5rem;
}
.fot_nav ul{
		display:flex;
		flex-wrap:wrap;
		margin:50px auto 70px auto;
		padding:0;
		width:40%;
		gap:0 6px;
}

.fot_nav li{
	display:table-cell;
	align-items:center;
}	
.fot_nav li a{
	color:#f8f8f8;
	line-height:1.5rem;
	align-items:center;
}
.fot_rogo img{
	width:285px;
	height:90px;
}
	}
	
@media screen and (min-width:481px)and (max-width:1023px),print{
		
	
#wrapper{
	width:100%;
	margin:0 auto;
}
img{
	width:100%;
	height:auto;
}
/*---header---*/
header{
	width:100%;
	height:60%;
	margin:0 auto;
	display:flex;
	padding-left:0;
	position:fixed;
	background-color:#F8F8F8;
	top:0;
	height:100px;
	z-index:2;

}
.header_rogo{
	height:auto;
	width:100%;
	background-color:#325A3C;
}
.header_rogo img{
	position:relative;
	text-align:center;
	width:80%;
	height:auto;
	margin:0 auto;
	top:20px;
	left:10%;
}
header nav{
	text-align:center;
	width:1200px;
	height:60px;
	margin-top:40px;
}
header nav ul{
	display:table;
	margin:0 auto;
	padding:0;
	width:100%;
}
header nav li{
	font-family:"游明朝","ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size:70%;
	list-style:none;
	display:table-cell;
	width:200px;
	align-items:center;
	}

header nav a{
	display:block;
	width:100%;
	height:40px;
	text-decoration:none;
	color:#325A3C;
	align-items:center;
	padding-top:20px;
}

header nav a:hover{
	color:#978F10;
	transition-duration:0.5s;
}

/*---headerここまで---*/



.top_img{
	width:100%;
	margin-top:100px;
}


h1{	
	font-family:"游明朝","ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size:90%;
	color:#F8F8F8;
	margin-bottom:10px;
	margin-left:80px;
	line-height:2rem;
	height:60%;
	width:100%;
}
.category{
	height:60%;
	width:100%;
	margin:0 auto;
	background-color:#325A3C;
	position:relative;
	top:100px;

}

.btn,
a.btn,
button.btn {
  font-family:"小塚ゴシック Pr6N","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 24px;
  line-height: 3;
  position: relative;
  display: inline-block;
  padding: 1rem 3rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
h2{
	text-align:center;
}
.btn--green,
a.btn--green {
  font-family:"小塚ゴシック Pr6N","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  color: #f8f8f8;
  background-color: #325A3C;
  margin:85px auto;
}
.btn--green:hover,
a.btn--green:hover {
  color: #f8f8f8;
  background: #597C61;
}



.room_box{
	margin:0 auto;
	width:70%;
	height:auto;
	display:block;
	flex-wrap:wrap;
	align-items:center;
	text-align:center;
}
.img_wrap{
  border: 1px solid #ddd;
  width: 450px;
  height: 350px;
  overflow: hidden;
  cursor: pointer;
  margin:0 20px;
}
.img_wrap img{
  width: 100%;
  transition-duration: 0.5s;
}
.img_wrap:hover img{
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.room_item{
	align-items:center;
	justyfy-content:space-between;
}
.room_button{
	margin:25px 50px 115px 50px;
}
.room_item p{
	font-size:24px;
	font-family:"游明朝","ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	margin:30px 0 25px 0;
}
.room_item img{
	width:100%;
	height:auto;
	position: relative;
	text-align: center;
}
.room_name {
  position: relative;
  display: inline-block;
  background-color: #F8F8F8;
  width:350px;
  height:85px;
  border: 1px solid #978F10;
  color: #978F10;
  text-align: center;
  text-decoration: none;
  margin:0 auto;
}
.room_name::after {
  position: absolute;
  top: 50%;
  right: 2em;
  content: '';
  margin-top: -9px;
  border-top: solid 1px #978F10;
  border-right: solid 1px #978F10;
  width: 13px;
  height: 13px;
  transform: rotate(45deg);
}
.room_name:hover::after {
  right: 0.5rem;
  transition-duration: 0.3s;
  border-top: solid 1px #f8f8f8;
  border-right: solid 1px #f8f8f8;
  width: 13px;
  height: 13px;
  transform: rotate(45deg);
}
.room_name:hover{
  color: #f8f8f8;
  background: #978F10;
  transition-duration: 0.2s;
}

/*---footer---*/
footer{
		background-color:#325A3C;
		text-align:center;
		color:#f8f8f8;
		padding:30px 0 20px 0;
		font-size:80%;
		font-family:"游明朝","ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}

#fot{
	    width:1200px;
		margin:0 auto;
		padding:0;
		width:100%;

}
#fot p{
	margin-top:15px;
	line-height:1.5rem;
}
.fot_nav ul{
		display:flex;
		flex-wrap:wrap;
		margin:50px auto 70px auto;
		padding:0;
		width:40%;
		gap:0 6px;
}

.fot_nav li{
	display:table-cell;
	align-items:center;
}	
.fot_nav li a{
	color:#f8f8f8;
	line-height:1.5rem;
	align-items:center;
}
.fot_rogo img{
	width:285px;
	height:90px;
}
}
	
@media screen and (min-width:1024px),print{
	
	
#wrapper{
	width:100%;
	margin:0 auto;
}
img{
	width:100%;
	height:auto;
}
/*---header---*/
header{
	width:100%;
	height:100px;
	margin:0 auto;
	display:flex;
	padding-left:0;
	position:fixed;
	background-color:#F8F8F8;
	top:0;
	height:100px;
	z-index:2;

}
.header_rogo{
	height:100px;
	width:320px;
	background-color:#325A3C;
}
.header_rogo img{
	position:relative;
	top:20px;
	left:30px;
	height:60px;
	width:190px;
}
header nav{
	text-align:center;
	width:1200px;
	height:60px;
	margin-top:40px;
}
header nav ul{
	display:table;
	margin:0 auto;
	padding:0;
	width:100%;
}
header nav li{
	font-family:"游明朝","ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size:18px;
	list-style:none;
	display:table-cell;
	width:200px;
	align-items:center;
	}

header nav a{
	display:block;
	width:100%;
	height:40px;
	text-decoration:none;
	color:#325A3C;
	align-items:center;
	padding-top:20px;
}

header nav a:hover{
	color:#978F10;
	transition-duration:0.5s;
}

/*---headerここまで---*/



.top_img{
	margin:0 auto;
	width:100%;
}


h1{	
	font-family:"游明朝","ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size:24px;
	color:#F8F8F8;
	margin-bottom:10px;
	margin-left:80px;
	line-height:3rem;
}
.category{
	height:60px;
	width:100%;
	margin:0 auto;
	background-color:#325A3C;
	position:relative;
	top:100px;

}

.btn,
a.btn,
button.btn {
  font-family:"小塚ゴシック Pr6N","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 24px;
  line-height: 3;
  position: relative;
  display: inline-block;
  padding: 1rem 3rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
h2{
	text-align:center;
}
.btn--green,
a.btn--green {
  font-family:"小塚ゴシック Pr6N","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  color: #f8f8f8;
  background-color: #325A3C;
  margin:85px auto;
}
.btn--green:hover,
a.btn--green:hover {
  color: #f8f8f8;
  background: #597C61;
}



.room_box{
	margin:0 auto;
	width:942px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:center;
}
.img_wrap{
  border: 1px solid #ddd;
  width: 450px;
  height: 350px;
  overflow: hidden;
  cursor: pointer;
}
.img_wrap img{
  width: 100%;
  transition-duration: 0.5s;
}
.img_wrap:hover img{
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.room_item{
	align-items:center;
	justyfy-content:space-between;
}
.room_button{
	margin:25px 50px 115px 50px;
}
.room_item p{
	font-size:24px;
	font-family:"游明朝","ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	margin:30px 0 25px 0;
}

.room_name {
  position: relative;
  display: inline-block;
  background-color: #F8F8F8;
  width:350px;
  height:85px;
  border: 1px solid #978F10;
  color: #978F10;
  text-align: center;
  text-decoration: none;
  margin:0 auto;
}
.room_name::after {
  position: absolute;
  top: 50%;
  right: 2em;
  content: '';
  margin-top: -9px;
  border-top: solid 1px #978F10;
  border-right: solid 1px #978F10;
  width: 13px;
  height: 13px;
  transform: rotate(45deg);
}
.room_name:hover::after {
  right: 0.5rem;
  transition-duration: 0.3s;
  border-top: solid 1px #f8f8f8;
  border-right: solid 1px #f8f8f8;
  width: 13px;
  height: 13px;
  transform: rotate(45deg);
}
.room_name:hover{
  color: #f8f8f8;
  background: #978F10;
  transition-duration: 0.2s;
}

/*---footer---*/
footer{
		background-color:#325A3C;
		text-align:center;
		color:#f8f8f8;
		padding:30px 0 20px 0;
		font-size:14px;
		font-family:"游明朝","ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}

#fot{
	    width:1200px;
		margin:0 auto;
		padding:0;
		width:100%;

}
#fot p{
	margin-top:15px;
	line-height:1.5rem;
}
.fot_nav ul{
		display:table;
		margin:50px auto 70px auto;
		padding:0;
		width:40%;
}

.fot_nav li{
	display:table-cell;
	align-items:center;
}	
.fot_nav li a{
	color:#f8f8f8;
	line-height:1.5rem;
	align-items:center;
}
.fot_rogo img{
	width:285px;
	height:90px;
}
}