@charset "utf-8";
/* CSS Document */

html,body{
	width:100%;
	background-color:#F8F8F8;
}

#wrapper{
	width:100%;
	margin:0 auto;
}

/*---header---*/
header{
	width:100%;
	height:100px;
	margin:0 auto;
	display:flex;
	padding-left:0;
	position:fixed;
	background-color:#F8F8F8;
	top:0;
	height:100px;
	z-index:2;

}
.header_rogo{
	height:100px;
	width:320px;
	background-color:#325A3C;
}
.header_rogo img{
	position:relative;
	top:20px;
	left:30px;
}
header nav{
	text-align:center;
	width:1200px;
	height:60px;
	margin-top:40px;
}
header nav ul{
	display:table;
	margin:0 auto;
	padding:0;
	width:100%;
}
header nav li{
	font-family:"游明朝","ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size:18px;
	list-style:none;
	display:table-cell;
	width:200px;
	align-items:center;
	}

header nav a{
	display:block;
	width:100%;
	height:40px;
	text-decoration:none;
	color:#325A3C;
	align-items:center;
	padding-top:20px;
}

header nav a:hover{
	color:#978F10;
	transition-duration:0.5s;
}


/*---headerここまで---*/


.obi {
	width:100%;
	height:60px;
	background-color:#325A3C;
	position:relative;
	top:100px;

	}

h1 {
	font-family:"游明朝";
	font-size:24px;
	color:#f8f8f8;

	margin-left:80px;
	line-height:3rem;	
	}

	
h2 {
	font-family:"游明朝";
	font-size:35px;
	padding:50px 0 30px 0;
	text-align:center;
	}

.main_text p{
	font-family:"游明朝";
	font-size:20px;
	padding-top:20px;
	border-left: 3px double #978F10;
    border-left-width: 3px;
    border-left-style: double;
    border-left-color: #978F10;
	border-right: 3px double  #978F10;
    border-right-width: 3px;
    border-right-style: double;
    border-right-color: #978F10;
	text-align: center;
    position: relative;
	line-height:2rem;
	}
	

	

.main_text {
	max-width:980px;
	margin-bottom:20px;
	text-align:center;
	margin:0 auto;
 	opacity: 0;
  	visibility: hidden;
  	transform: translateY(40px);
  	transition: all 1s;
}

.main_text.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}



.main_text img {
	margin:0 auto;
	text-align:center;
	margin:30px	0 30px 0;
	}



h3 {
	font-size:35px;
	text-decoration:underline;
	text-decoration-color:#978F10;
	text-underline-offset:1rem;
	}
	
	
.onsen_text p {
	font-size:20px;
	margin-top:30px;
	line-height:2rem;
	}
	
.onsen_text {
	margin:30px 0 30px 50px;
	font-family:"游明朝";
	}
	
.onsen {
	display:flex;
	justify-content:center;
	margin: 0 auto;
	padding:30px 0;
	overflow: hidden;
    cursor: pointer;
	
	}

.onsen_text2 {
	margin:30px 50px 30px 0px;
	font-family:"游明朝";
	}
	
.onsen_text2 p {
	font-size:20px;
	margin-top:30px;
	line-height:2rem;
	}
/*ホバーエフェクト*/

.onsen img {
  transform: scale(1);
  transition: .5s ease-in-out;
}
.onsen:hover img {
  transform: scale(1.1);
} 
	





























/*---footer---*/
footer{
		background-color:#325A3C;
		text-align:center;
		color:#f8f8f8;
		padding:30px 0 20px 0;
		font-size:14px;
		font-family:"游明朝","ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}

#fot{
	    width:1200px;
		margin:0 auto;
		padding:0;
		width:100%;

}
#fot p{
	margin-top:15px;
	line-height:1.5rem;
}
.fot_nav ul{
		display:table;
		margin:50px auto 70px auto;
		padding:0;
		width:40%;
}

.fot_nav li{
	display:table-cell;
	align-items:center;
}	
.fot_nav li a{
	color:#f8f8f8;
	line-height:1.5rem;
	align-items:center;
}