body {
  font-family: "Montserrat", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 15px;
  letter-spacing: 0.05em;
  color: #333;
}

a {
  transition: opacity 0.3s;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  padding-top: 73px;
}

.section {
  padding: 90px 0;
}

.section:nth-of-type(odd) {
  background-color: #f7f7f7;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #3a5a78;
}

.lead {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.1);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: 0.05em;
}

.header-logo a {
  color: #333;
}
.header-logo a:hover {
  color: #999;
  transition: color 0.3s;
}
.gnav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.gnav-item:not(:last-child) {
  margin-right: 20px;
}

.gnav-item a {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 30px;
  transition: 0.3s;
  letter-spacing: 0.05em;
  color: #333;
}

.gnav-item a {
  position: relative;
  transition: all 0.7s;
}

.gnav-item a::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #0481a2;
  opacity: 0;
}

.gnav li.current a::after,
.gnav li a:hover::after {
  width: 100%;
  opacity: 1;
  animation: bgappear 0.5s forwards;
}

@keyframes bgappear {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #3a5a78;
  }
}

.gnav li.current a,
.gnav li a:hover {
  color: #fff;
  z-index: 1;
}

/*--------------------------------
 メインビジュアル
---------------------------------*/
.mv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  text-align: center;
}

.mv-container {
  padding: 0 40px;
}

.mv-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 5px;
  letter-spacing: 0.1em;
}
.mv-subtitle {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: 0.08em;
  color: #3a5a78;
}

.mv-text {
  font-size: 16px;
  line-height: 1.8;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  width: 31.74603%;
  margin-right: 1.5873%;
  margin-bottom: 40px;
  color: #333;
}

.works-item:hover {
  opacity: 0.9;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-img img {
  border: 1px solid #e6e6e6;
}

.works-name {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.works-info {
  font-size: 10px;
  margin-top: 5px;
}

.graphic_design {
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  width: 300px;
  height: 60px;
}
.graphic_design:hover {
  opacity: 0.9;
  transition: opacity 0.3s;
}

.graphic_design p {
  position: absolute;
  color: #e6e6e6;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.05em;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.js-animation {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1s;
}
.js-animation.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 48%;
  margin-bottom: 50px;
}

.skill-img {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-name {
  margin-bottom: 10px;
}

.skill-text {
  font-size: 14px;
  line-height: 1.8;
}

/*--------------------------------
 About
---------------------------------*/
.profile {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
.profile-img {
  width: 20%;
  margin-right: 30px;
  border-radius: 50%;
}
.profile-img img {
}
.profile-body {
  flex: 1;
}

.profile-body p {
  font-size: 15px;
  line-height: 1.8;
}

.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact {
  text-align: center;
}

.contact-item:not(:last-child) {
  margin-right: 10px;
}

.contact-text {
  margin-top: 10px;
}
.contact-img {
  vertical-align: middle;
  display: inline-block;
}
.contact-item {
  display: inline-block;
}
.contact section a {
  position: relative;
  display: inline-block;
  transition: 0.3s;
}
.contact section a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  width: 0;
  height: 1px;
  background-color: #2ecc71;
  transition: 0.3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.contact section a:hover::after {
  width: 100%;
}
/*--------------------------------
 ページトップ
---------------------------------*/

.page-top {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 auto 100px auto;
  border: 2px solid #86868b;
  border-radius: 50%;
  text-indent: -9999px;
  cursor: pointer;
}

.page-top a {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin: 5px 0 0;
  border-top: 2px solid #86868b;
  border-left: 2px solid #86868b;
  content: "";
}
.page-top:hover {
  border: 2px solid #fff;
  background: #3a5a78;
  transition-duration: 0.5s;
}
.page-top a:hover {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin: 5px 0 0;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  content: "";
  transition-duration: 0.3s;
  /* top: 0.7rem;
  transform: translate(-50%, -50%) rotate(45deg); */
  transition: 0.3s all;
}
/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 60px;
  background-color: #3a5a78;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #fff;
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 80px 0;
}

.article-container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.article-title {
  margin-bottom: 30px;
  text-align: center;
}

.article-body {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.article-body h3 {
  position: relative;
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 1em;
}

.article-body h3:not(:first-child) {
  margin-top: 50px;
}

.article-body h3::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  content: "";
  border-radius: 3px;
  background-color: #333;
}

.article-body p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.home-link {
  text-align: center;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .wrapper {
    padding-top: 57px;
  }

  .section {
    padding: 60px 0;
  }

  .container {
    padding: 0 20px;
  }

  /* ヘッダー */
  .header .container {
    padding: 35px 20px;
    justify-content: flex-start;
    gap: 5px;
  }

  .header-logo {
    font-size: 15px;
    margin-right: 5px;
  }
  .gnav-item:not(:last-child) {
    margin-right: 5px;
  }

  .gnav-item a {
    font-size: 10px;
    padding: 5px 5px;
    letter-spacing: normal;
  }

  .gnav-item a:after {
    display: none;
  }

  /*  メインビジュアル */
  .mv {
    height: 75vh;
  }

  .mv-container {
    padding: 0 20px;
  }

  .mv-title {
    font-size: 30px;
  }
  .mv-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .mv-text {
    font-size: 14px;
    line-height: 1.7;
  }

  /* Works */
  .works-name {
    font-size: 12px;
  }

  .works-info {
    margin-top: 3px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .graphic_design {
    width: 50%;
    height: 50%;
  }
  .graphic_design p {
    font-size: 16px;
  }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-name {
    margin-bottom: 5px;
    color: #3a5a78;
  }

  .skill-text {
    font-size: 13px;
    line-height: 1.7;
  }

  /* About */
  .profile {
    display: block;
  }
  .profile-img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .profile-body p {
    font-size: 14px;
    line-height: 1.7;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }

  /* 下層ページ */
  .article {
    padding: 50px 0;
  }

  .article-body h3 {
    font-size: 16px;
    padding-left: 0.8em;
  }

  .article-body h3:not(:first-child) {
    margin-top: 30px;
  }

  .article-body p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  .page-top:hover {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto 100px auto;
    border: 2px solid #86868b;
    border-radius: 50%;
    text-indent: -9999px;
    background-color: #fff;
  }

  .page-top a:hover {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin: 5px 0 0;
    border-top: 2px solid #86868b;
    border-left: 2px solid #86868b;
    content: "";
  }
}

/* CONTACT CTA */
.contact-text {
  margin-bottom: 24px;
}

.contact-btn {
  display: inline-block;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #3a5a78;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-btn:hover {
  background-color: #90a4b8;
  transform: translateY(-2px);
  color: #fff;
}

.contact-btn:active {
  transform: translateY(0);
}
@media screen and (max-width: 768px) {
  .contact-btn {
    width: 100%;
    text-align: center;
    padding: 14px 0;
  }
}

a:hover {
  color: #3a5a78;
}

.page-top:hover a {
  top: 45%;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transition: 0.3s;
}
